/* section {
    margin: 1rem auto;
    width: 90%;
    max-width: 40rem;
    text-align: center;
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
  } */
  .nav{
    height: 10vh;
    width: 100%;
    background-color: black;
    
  }
  .nav img{
    height: 9vh;
    margin-left: 45%;
  }
  button {
    position: relative;
    float: right;
    margin-right: 2%;
    margin-top: 2.5vh;
    font: inherit;
    cursor: pointer;
    background: orange;
    border: 1px solid orange;
    color: white;
    padding: 0.75rem 2rem;
    border-radius: 20px;
  }
  
  button:focus {
    outline: none;
  }
  
  button:hover,
  button:active {
    background-color: orange;
    border-color: orange;
    font-weight: bold;
  }